@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Roboto+Slab|Sen&display=swap");

@font-face {
	font-family: "Berlin Sans";
	src: url("./assets/BerlinSans.ttf");
}
body {
	margin: 16px;
	font-family: "Open Sans";
}
#title {
	font-size: 40px;
	font-weight: 700;
	font-family: "Berlin Sans";
	color: #111;
	#prodigy {
		color: #55b9a7;
	}
}
.screendiv {
	position: relative;
	float: left;
}
#hacks {
	@extend .screendiv;
	width: 40%;
}
.menu-area {
	padding: 3px;
	h1 {
		font-size: 30px;
		font-family: Sen;
		margin: 6px;
	}

	button {
		border: #999 3px solid;
		background-color: #eee;
		font-size: 14px;
		padding: 3px 5px;
		transition: all 0.15s;
		margin: 5px 5px;
		transition-property: border-color, background-color;
		outline: none;
		cursor: pointer;
		&:hover {
			border-color: #777d;
			background-color: #ddd;
		}
		&:active {
			border-color: #555;
			background-color: #bbb;
		}
		&[status="true"] {
			border-color: #5a5d;
			background-color: #9bee9b;
			&:hover {
				border-color: #b3bbb0dd;
				background-color: #bffebf;
			}
			&:active {
				border-color: #4e5c50;
				background-color: #24be6a;
			}
		}
		&[status="false"] {
			border-color: #766d;
			background-color: #9b9b9b;
			&:hover {
				border-color: #858585dd;
				background-color: #bfbfbf;
			}
			&:active {
				border-color: #4c3e40;
				background-color: #be246a;
			}
		}
	}
}
.inputLabel {
	margin: 2px;
}
input.textInput.textInput {
	margin: 10px 6px;
}
